/* Default CSS Reset */

* {
  margin: 0;
  padding: 0;
}

/* General Style */

/* Grid Layout */
.container {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

/* Header Section */
.header {
  margin: 0 auto;
  width: 100%;
  margin-top: 15px;
  position: fixed;
  z-index: 1;
}

.nav {
  float: right;
}

li {
  padding-top: 20px; 
  display: inline-block;
  padding-right: 15px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

li.contact {
  padding-right: 0;
}

a.menu {
  text-decoration: none;
  color: white;
}

a.menu:focus {
  color: #0e9aa7;
}

a.menu:hover {
  color: #0e9aa7;
}

/* Main Page */
#mainpage {
  background: url(../img/main/menuback.jpg);
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.mainheader {
  padding-top: 200px;
  font-family: 'Playfair Display', serif;
  color: white;
  padding-bottom: 20px;
}

p.mainpara {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

img.line {
  padding-bottom: 20px;
}

.click {
  color: #00e0d0;
  font-family: 'Hammersmith One', sans-serif;
  background:  transparent;
  border: 1px solid #00e0d0;
  text-decoration: none;
  padding: 10px;
  font-size: 12px;
}

.click:hover {
  background-color: #00e0d0;
  color: white;
  border: 0px;
}

img.dot {
  margin-bottom:-110px;
}

/* Aboutus Section */
.top {
  margin: 50px auto;
  display: grid;
  grid-template-columns: 40% 60%;
}

h2.ourstory {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 22px;
  color: #413d4b;
  padding: 0 0 20px 0;
}

p.storypara {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 20px;
}

.button {
  color: #00e0d0;
  font-family: 'Hammersmith One', sans-serif;
  border: 1px solid #00e0d0;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  display: inline-block;
}

.button:hover {
  background-color: #00e0d0;
  color: white;

}

.bot {
  height: 550px;
  background: url(../img/aboutus/video.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
}

a.watchlink {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 190px; 
  right: 40%;
  transform: translateX(-50%);
}

.watch {
  margin-left: 20px;
  margin-bottom: 20px;
}

a.watchlink, .watch {
  display: block;
}

/* Expertise Section */
#expertise {
  height: 100vh;
  text-align: center;
}

.expert {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 100px;
}

.ext {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 10px;
}

.extline {
  margin-top: 30px;
  margin-bottom: 100px;
}

.choices {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.head {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.para {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #c1c1c1;
  margin: 20px;
}

.con {
  margin-bottom: 20px;
  margin-top: 30px;
}

.topmid {
  border-right: 1px solid #c1c1c1;
  border-left: 1px solid #c1c1c1;
}

.bottom {
  border-top: 1px solid #c1c1c1;
}

.bottommid {
  border-top: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
  border-left: 1px solid #c1c1c1;
}

/* Team Page */
#teampage {
  background: url(../img/teampage/teampage.jpg);
  background-size: cover;
  height: 750px;
  text-align: center;
}

h3.team {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  padding-top: 80px;
}

p.description {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cards {
  width: 100%;
  height: 300px;
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card {
  height: 300px;
  border: 1px solid white;
}

.image {
  width: 100%;
  height: 220px;
  background-color: white;
}

h3.cardname {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-top: 20px;
  color: white;
}

p.position {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-top: 10px;
  color: white;
}

.btnpara {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: white;
  margin-top: 100px;
  margin-bottom: 30px;
}

/* Works Page */
h3.works {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
  display: inline;
}

.project {
  display: inline;
}

img.arrow {
  vertical-align: -1px;
  margin-left: 5px;
}

.pro {
  text-decoration: none;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  color: black;
}

#workpage .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.blocks {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.block1 {
  height: 200px;
  background-color: #b6b6b6;
}

.block2 {
  height: 200px;
  background-color: #acacac;
}

.block3 {
  height: 200px;
  background-color: #a1a1a1;
}

.block4 {
  height: 200px;
  background-color: #8a8a8a;
}

.block5 {
  height: 200px;
  background-color: #a4a4a4;
}

#workpage .work{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Testimonial Page */

#testimonial {
  height: 600px;
  background: url(../img/testimonials/testimonials.jpg)center;
  background-size: cover;
}

#testimonial .container{
  text-align: center; 
}

img.quotation {
  margin-top: 100px;
}

p.quatationtxt {
  margin-top: 50px;
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 30px;
}

h3.name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
  margin-top: 50px;
}

p.position {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: white;
}

img.opt {
  margin-top: 50px;
}